
@{
    ViewBag.Title = "Login";
}

@model LoginSample.Models.UserLogin

<h2>Login</h2>
@using (Html.BeginForm("Signin", "Login", FormMethod.Post))
{
    @Html.TextBoxFor(m=>m.Email)
    @Html.PasswordFor(m => m.Password);
    <input type="submit" value="Signin" />
}